* {
  margin: 0;
  padding: 0;
  text-align: center;
}
body{
  height: 100vh;
  width: 95vw;
}
/* button css */

/* The switch - the box around the slider */
.switch {
  display: flex;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  margin-left:auto ;
  bottom: 85px;
  left: 50px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.btn:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .btn {
  background-color: #303136;
}

input:checked + .btn:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* entire css */

.header {
  background-color: rgb(2, 58, 80);
  height: 5em;
  width: 100vw;
  color: aliceblue;
  line-height: 4.5em;
  font-size: 30px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.contain {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  gap: 3rem;
  width: 250px;
  justify-content: center;
  align-items: center;
  border-radius: ;
}
.container:hover {
  opacity: 0.6;
  cursor: pointer;
}
img {
  height: 150px;
  width: 150px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  border: 4px solid black;
}

#img1 {
  background-color: rgb(91, 139, 245);
  box-shadow: 0px 0px 50px rgb(91, 139, 245);
}
#img2 {
  background-color: rgb(240, 91, 245);
  box-shadow: 0px 0px 50px rgb(240, 91, 245);
}
#img3 {
  background-color: rgb(245, 217, 91);
  box-shadow: 0px 0px 50px rgb(245, 217, 91);
}

/* score board */

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 8rem;
  gap: 3rem;
}

/* Massege Box */

.result {
  margin-top: 6rem;
}

#msg {
  background-color: rgb(233, 176, 153);
  display: inline;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid black;
  
}
#msg:hover {
  cursor: pointer;
 
}


.practice {
  color:#ff7b00;
}